<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Página Web</title>
</head>
<body>
    <header>
        <h1>¡Programacion Visual 2024!</h1>
        <nav>
            <ul>
                <li><a href="#seccion1">Java</a></li>
                <li><a href="#seccion2">Spring framework</a></li>
                <li><a href="#seccion3">Git</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="seccion1">
            
            <h2>Fundamentos de Java</h2>
				    <p>Los fundamentos de Java son los conceptos básicos que necesitas comprender para programar en Java de manera efectiva. Aquí tienes una descripción general de algunos de estos fundamentos:</p>
				    <ol>
				        <li>Sintaxis: Java tiene una sintaxis similar a otros lenguajes de programación como C++ y C#, pero también tiene sus propias peculiaridades. Esto incluye reglas para la declaración de variables, estructuras de control de flujo (if, else, for, while), entre otros.</li>
				        <li>Tipos de datos: Java tiene tipos de datos primitivos (como int, double, boolean) y tipos de datos de objeto (como String, ArrayList, etc.). Es importante entender la diferencia entre estos tipos y cómo se utilizan.</li>
				        <li>Clases y objetos: Java es un lenguaje de programación orientado a objetos, lo que significa que todo en Java se modela como un objeto. Las clases son plantillas para crear objetos, y los objetos son instancias de esas clases.</li>
				        <li>Métodos: Los métodos en Java son bloques de código que realizan una tarea específica. Pueden aceptar parámetros y devolver valores. Los métodos son fundamentales para organizar y reutilizar el código.</li>
				        <li>Herencia: Java admite la herencia, lo que significa que una clase puede heredar atributos y métodos de otra clase. Esto fomenta la reutilización del código y permite la creación de jerarquías de clases.</li>
				        <li>Interfaces: Las interfaces en Java definen un conjunto de métodos que una clase debe implementar. Proporcionan una forma de lograr la abstracción y el polimorfismo.</li>
				        <li>Excepciones: Las excepciones en Java son eventos inesperados que ocurren durante la ejecución de un programa. Java maneja las excepciones a través del mecanismo de "try-catch" para manejar errores de manera controlada.</li>
				        <li>Colecciones: Java proporciona una variedad de estructuras de datos para almacenar y manipular grupos de objetos. Estas incluyen ArrayList, LinkedList, HashMap, entre otras.</li>
				        <li>Entrada/salida (E/S): Java proporciona varias clases y métodos para realizar operaciones de entrada y salida, como leer desde el teclado o escribir en archivos.</li>
				        <li>Programación concurrente: Java tiene soporte para programación concurrente a través de la API de concurrencia, que incluye conceptos como hilos (threads) y sincronización.</li>
				    </ol>
        </section>
        
        <section id="seccion2">
            <h2>Spring Framework</h2>
            
            <p>Conseptos basicos</p>
            <table border="1">
				        <tr>
				            <th>Concepto</th>
				            <th>Descripción</th>
				        </tr>
				        <tr>
				            <td>IoC (Inversión de Control)</td>
				            <td>Principio fundamental de Spring que delega el control de la creación y manejo de objetos a un contenedor de Spring, lo que promueve el desacoplamiento y la modularidad.</td>
				        </tr>
				        <tr>
				            <td>DI (Inyección de Dependencias)</td>
				            <td>Mecanismo mediante el cual Spring administra las dependencias de un componente, permitiendo la configuración de estas dependencias externamente, lo que facilita la prueba y la modularidad.</td>
				        </tr>
				        <tr>
				            <td>AOP (Aspect-Oriented Programming)</td>
				            <td>Paradigma de programación que permite separar las preocupaciones transversales de una aplicación (como la seguridad, la transacción, el registro, etc.) de la lógica del programa principal.</td>
				        </tr>
				        <tr>
				            <td>MVC (Model-View-Controller)</td>
				            <td>Patrón de diseño arquitectónico utilizado en Spring MVC para separar una aplicación en tres componentes principales: el Modelo (que representa los datos y la lógica de negocio), la Vista (que es la interfaz de usuario) y el Controlador (que gestiona las interacciones y coordina las respuestas).</td>
				        </tr>
				        <tr>
				            <td>JDBC (Java Database Connectivity)</td>
				            <td>API de Java que permite la interacción con bases de datos relacionales. Spring proporciona soporte para JDBC mediante su módulo JDBC Template, simplificando el manejo de excepciones y la gestión de conexiones.</td>
				        </tr>
				        <tr>
				            <td>Spring Boot</td>
				            <td>Proyecto de Spring que simplifica el proceso de configuración y desarrollo de aplicaciones basadas en Spring, proporcionando un conjunto de opiniones predeterminadas y herramientas para iniciar rápidamente un proyecto.</td>
				        </tr>
				    </table>
        </section>
        
        <section id="seccion3">
           <h2>Git</h2>
						    <p>Sistema de control de versiones distribuido, diseñado para manejar desde proyectos pequeños hasta muy grandes, con rapidez y eficiencia.</p>
						    
						    <h3>Repositorio</h3>
						    <p>Es un espacio donde se almacena todo el historial de cambios de un proyecto. Puede ser local (en tu computadora) o remoto (en un servidor).</p>
						    
						    <h3>Commit</h3>
						    <p>Un commit es una instantánea de los cambios realizados en los archivos de un proyecto en un momento dado. Cada commit tiene un mensaje descriptivo que explica los cambios realizados.</p>
						    
						    <h3>Rama (Branch)</h3>
						    <p>Una rama en Git es una línea de desarrollo independiente. Puedes tener múltiples ramas en un repositorio, lo que permite trabajar en diferentes características o arreglos de errores simultáneamente.</p>
						    
						    <h3>Merge</h3>
						    <p>La fusión (merge) es el proceso de combinar los cambios de una rama con otra. Se utiliza para integrar el trabajo realizado en una rama de desarrollo en otra (por ejemplo, fusionar una característica en la rama principal).</p>
						    
						    <h3>Clonar (Clone)</h3>
						    <p>Clonar un repositorio es hacer una copia exacta de un repositorio remoto en tu máquina local. Esto te permite trabajar en el proyecto de forma independiente y realizar cambios locales.</p>
						    
						    <h3>Pull</h3>
						    <p>El comando pull en Git se utiliza para obtener cambios desde un repositorio remoto y fusionarlos con tu rama actual local. Esencialmente, equivale a hacer un fetch seguido de un merge.</p>
						    
						    <h3>Push</h3>
						    <p>El comando push en Git se utiliza para enviar tus cambios locales a un repositorio remoto. Esto actualiza el repositorio remoto con tus commits locales.</p>
						    
						    <h3>Conflictos</h3>
						    <p>Los conflictos ocurren cuando Git no puede resolver automáticamente diferencias entre dos cambios. Esto puede ocurrir al fusionar ramas con cambios conflictivos en los mismos archivos.</p>
        </section>
    </main>
    
    <aside>
        <h2>Visita nuestra facultad</h2>
        <p>Te esperamos!!!</p>
        <a href="https://www.fi.unju.edu.ar/">
					 <img src="../static/img/unju.png" alt="UNJU">
				</a>
       
    </aside>
    
    <footer>
        <p>Contacto: ejemplo@example.com</p>
        <p>Redes Sociales:</p>
        <ul>
            <li><a href="https://www.linkedin.com/">LinkedIn</a></li>
            <li><a href="https://twitter.com/">Twitter</a></li>
            <li><a href="https://www.facebook.com/">Facebook</a></li>
        </ul>
    </footer>
</body>
</html>
